.blog{
    position: relative;
    z-index: 0;
}
.blogWrpr{
    border-radius: 40px;
    padding: 44px 46px;
    max-width: 1370px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    margin-bottom: 30px;
}
.blogWrpr::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
    width: 100%;
    height: 100%;
    border-radius: 40px;
    opacity: 0.9;
    z-index: -1;
}
.blogWrpr-tab{
    padding: 25px 30px;
    background-color: var(--white);
    border-radius: 65px;
    margin-bottom: 30px;
}
.blogWrpr-tab__h{
    font-size: 1.2rem;
    color: var(--main);
    font-weight: 600;
}
.blogwrp2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.blogCol1{
    width: 450px;
}
.blogCol1Card{
    border-radius: 25px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
}
.blogCol1Card__hdr{
    padding: 15px 20px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.blogCol1Card__mini{
    width: 35px;
    height: 35px;
    background-color: var(--fivth-color);
    font-size: 0.7rem;
    color: var(--main);
}
.blogCol1Card__body{
    padding: 20px 20px;
    background-color: var(--off-white);
}
.blogBoxNews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.blogCol2{
    width: calc(100% - 480px);
}
.blgpgwrprCol1CardNews{
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 20px;
}
.blgpgwrprCol1CardNews:nth-last-child(1){
    margin-bottom: 0;
}
.blgpgwrprCol1CardNews__Hdr{
    width: 118px;
    height: 105px;
    border-radius: 12px;
    overflow: hidden;
}
.blgpgwrprCol1CardNews__Hdr:hover .blgpgwrprCol1CardNews__img{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
.blgpgwrprCol1CardNews__img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}
.blgpgwrprCol1CardNews__body{
    width: calc(100% - 125px);
}
.blgpgwrprCol1CardNews_t{
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.blgpgwrprCol1CardNews_t2{
    padding: 10px 20px;
    width: fit-content;
    border-radius: 7px;
    line-height: 1;
    background-color: var(--white);
    font-size: 0.8rem;
    color: var(--main);
    font-weight: 600;
}
.blgpgwrprCol1CardNews_t2:hover{
    background-color: transparent;
    color: var(--main);
}
.blogCol1Card__hdr-h{
    font-size: 1.1rem;
    font-weight: 600;
}
.blogCol1Card__mini2{
    background-color: var(--white);
    color: var(--light-grey);
}
.blogCol1Card__hdr2{
    background-color: var(--off-white);
}
.blogCol1Card__body2{
    background-color: var(--white);
    border: 1px solid var(--off-white);
    border-radius: 0 0 25px 25px;
}
.tagwrpr{
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 15px;
}
.tagLink{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 19px;
    background-color: var(--off-white);
    border-radius: 60px;
    font-size: 0.9rem;
    color: var(--contrast);
}
.tagLink:hover{
    background-color: transparent;
    color: var(--contrast);
}
.blogCol1Card__hdr3{
    background-color: var(--cyan-blue);
}
.blogCol1Card__mini3{
    position: relative;
    z-index: 0;
    background-color: transparent;
    color: var(--white);
}
.blogCol1Card__mini3::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    opacity: 0.2;
    border-radius: 50%;
}
.blogCol1Card__hdr-h3{
    color: var(--white);
}
.blogCol1Card__body3{
    background-color: var(--white);
    border: 1px solid var(--cyan-blue);
    border-radius: 0 0 25px 25px;
}
.blgpgwrprCol1CardNews-mini{
    width: 30px;
    height: 30px;
    background-color: var(--cyan-blue);
    color: var(--white);
    border-radius: 50%;
    font-size: 0.9rem;
}
.blgpgwrprCol1CardNews-row-p{
    font-size: 0.9rem;
    color: var(--contrast);
}
.blogcard{
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    height: 265px;
    position: relative;
    z-index: 0;
    margin-bottom: 25px;
}
.blogcard-col1{
    width: 45%;
    position: relative;
    z-index: 0;
    height: 100%;
    overflow: hidden;
}
.blogcard-col1:hover .blogcard-col1__img{
    transform: scale(1.2);
    transition: all 0.4s ease-in-out;
}
.blogcard-col1__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
}
.blogcard-col1-tag{
    position: absolute;
    top: 0;
    left: 25px;
    padding: 12px 15px;
    z-index: 9;
    background-color: var(--main);
    border-radius: 0 0 10px 10px;
    font-size: 1rem;
    color: var(--white);
}
.rtl .blogcard-col1-tag{
    left: auto;
    right: 25px;
}
.blogcard-col2{
    height: 100%;
    width: 55%;
    padding: 20px 30px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}
.blogcardMini{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.blogcardMini__img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}
.blogcardMini__name{
    font-size: 1rem;
    font-weight: 600;
    color: var(--davy-grey);
}
.blogcardMini2Box{
    width: 35px;
    height: 35px;
    background-color: var(--off-white);
    font-size: 0.9rem;
}
.blogcardMini2{
    display: flex;
    column-gap: 7px;
    align-items: center;
}
.blogcardMini2__p{
    font-size: 1rem;
    font-weight: 600;
    color: var(--grey-2);
}
.blogcard-col2__row{
    margin-bottom: 15px;
}
.blogcard-col2Body{
    padding: 22px 20px;
    border-radius: 15px;
    left: -60px;
    background-color: var(--white);
    position: relative;
}
.rtl .blogcard-col2Body{
    left: auto;
    right: -60px;
}
.blogcard-col2Body_h{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--contrast);
    margin-bottom: 7px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.blogcard-col2Body_h:hover{
    color: var(--main);
}
.blogcard-col2Body_p{
    font-size: 1rem;
    color: var(--grey-2);
    font-weight: 500;
    line-height: 1.5;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.blogcard-col2-row2{
    display: flex;
    align-items: center;
    margin-top: auto;
    column-gap: 10px;
}
.blogcard-col2-row2-tag{
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--main);
}
.blogcard-col2-row2-p{
    font-size: 0.9rem;
    color: var(--contrast);
    font-weight: 600;
}
.blogcard-col2-row2link{
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 0.9rem;
    color: var(--grey-2);
    column-gap: 10px;
}
.blogcard-col2-row2link:hover{
    color: var(--main);
}
.rtl .blogcard-col2-row2link{
    margin-right: auto;
    margin-left: 0;
}
.go{
    display: none;
}
.blogcard-col2-row2link:hover .go{
    display: block;
}
.pagination{
    display: flex;
    align-items: center;
    column-gap: 5px;
    width: fit-content;
    margin: 0 auto;
    padding-top: 30px;
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: var(--fivth-color);
    border-radius: 50%;
    font-size: 1rem;
    line-height: 1;
    color: var(--white);
    font-weight: bold;
}
.page.active,
.page:hover{
    background-color: var(--main);
    color: var(--white);
}
.pagepre,
.pagenext{
    background-color: var(--ninth-color);
}
.rtl .blogcard-col2-row2link i,
.rtl .pagepre,
.rtl .pagenext{
    transform: scaleX(-1);
}
@media(max-width:1799px){
    .blogWrpr-tab {
        padding: 20px 25px;
        margin-bottom: 24px;
    }
    .blogCol1Card__hdr {
        padding: 12px 17px;
        column-gap: 8px;
    }
    .blogCol1Card__hdr-h {
        font-size: 1rem;
    }
    .blogCol1Card__mini {
        width: 30px;
        height: 30px;
    }
    .blgpgwrprCol1CardNews_t {
        font-size: 0.9rem;
    }
    .blgpgwrprCol1CardNews_t2 {
        padding: 8px 18px;
    }
    .tagLink {
        padding: 8px 16px;
        font-size: 0.8rem;
    }
    .blogcardMini__name {
        font-size: 0.9rem;
    }
    .blogcard-col2 {
        padding: 15px 20px;
    }
    .blogcard-col2Body {
        padding: 17px 16px;
        left: -45px;
    }
    .rtl .blogcard-col2Body {
        left: auto;
        left: -45px;
    }
    .blogcard-col2Body_h {
        font-size: 1rem;
    }
    .blogcard-col2Body_p {
        font-size: 0.9rem;
    }
    .blogcardMini2__p {
        font-size: 0.9rem;
    }
}
@media(max-width:1399px){
    .blogWrpr{
        width: 100%;
        max-width: 100%;
    }
    .blogCol1 {
        width: 360px;
    }
    .blogCol2 {
        width: calc(100% - 380px);
    }
    .blogcard {
        height: 245px;
        margin-bottom: 18px;
    }
    .blogcard-col1-tag {
        left: 20px;
        padding: 10px 13px;
        font-size: 0.9rem;
    }
    .rtl .blogcard-col1-tag{
        left: auto;
        right: 20px;
    }
    .page {
        width: 40px;
        height: 40px;
        font-size: 0.9rem;
    }
}
@media(max-width:1199px){
    .blogCol1 {
        width: 300px;
    }
    .blogCol2 {
        width: calc(100% - 320px);
    }
    .blogCol1Card {
        border-radius: 15px;
        margin-bottom: 15px;
    }
    .blogCol1Card__body3,
    .blogCol1Card__body2{
        border-radius: 0 0 15px 15px;
    }
    .blgpgwrprCol1CardNews__Hdr {
        width: 90px;
        height: 80px;
        border-radius: 10px;
    }
    .blogCol1Card__body {
        padding: 12px 12px;
    }
    .blgpgwrprCol1CardNews__body {
        width: calc(100% - 100px);
    }
    .blgpgwrprCol1CardNews_t {
        font-size: 0.8rem;
        margin-bottom: 5px;
    }
    .blgpgwrprCol1CardNews_t2 {
        padding: 6px 13px;
    }
    .blogCol1Card__hdr {
        padding: 10px 12px;
        column-gap: 5px;
    }
    .blogCol1Card__hdr-h {
        font-size: 0.9rem;
    }
    .tagLink {
        padding: 6px 12px;
        font-size: 0.7rem;
    }
    .tagwrpr {
        column-gap: 5px;
        row-gap: 6px;
    }
    .blgpgwrprCol1CardNews-mini {
        width: 25px;
        height: 25px;
        font-size: 0.7rem;
    }
    .blgpgwrprCol1CardNews-row-p {
        font-size: 0.8rem;
    }
    .blogcard-col2Body_h {
        font-size: 0.9rem;
        margin-bottom: 3px;
    }
    .blogcard-col2Body_p {
        font-size: 0.8rem;
    }
    .blogcard-col2 {
        padding: 13px 14px;
    }
    .blogcard-col2-row2-tag {
        font-size: 0.7rem;
    }
    .blogcard-col2-row2-p {
        font-size: 0.7rem;
    }
    .blogcard-col2-row2link {
        font-size: 0.7rem;
        column-gap:5px;
    }
    .blogcardMini2__p {
        font-size: 0.7rem;
    }
    .blogcardMini2 {
        column-gap: 5px;
    }
    .blogcardMini2Box {
        width: 28px;
        height: 28px;
        font-size: 0.7rem;
    }
    .blogcardMini__img {
        width: 28px;
        height: 28px;
    }
    .blogcardMini__name {
        font-size: 0.7rem;
    }
    .blogcardMini {
        column-gap: 5px;
    }
    .blogcard-col1-tag {
        left: 20px;
        padding: 6px 11px;
        font-size: 0.7rem;
        border-radius: 0 0 5px 5px;
    }
    .blogcard {
        height: 220px;
        border-radius: 15px;
        margin-bottom: 15px;
    }
    .blogWrpr-tab {
        padding: 15px 20px;
        margin-bottom: 17px;
    }
    .blogWrpr-tab__h {
        font-size: 1rem;
    }
}
@media(max-width:1023px){
    .blogwrp2{
        flex-wrap: wrap;
    }
    .blogCol2,
    .blogCol1{
        width: 100%;
    }
    .blogWrpr {
        border-radius: 25px;
        padding: 25px 35px;
    }
    .blogWrpr::after{
        border-radius: 25px;
    }
}
@media(max-width:767px){
    .blogcard-col2Body_p {
        -webkit-line-clamp: 2;
    }
    .blogcard {
        height: 170px;
        border-radius: 15px;
        margin-bottom: 15px;
    }
    .blogcard-col2__row {
        margin-bottom: 5px;
    }
    .blogcard-col2Body {
        padding: 10px 10px;
        border-radius: 10px;
    }
    .blogcard-col2-row2 {
        column-gap: 5px;
    }
    .pagination {
        padding-top: 5px;
        column-gap: 3px;
    }
    .page {
        width: 30px;
        height: 30px;
        font-size: 0.7rem;
    }
}
@media(max-width:539px){
    .blogWrpr {
        border-radius: 25px;
        padding: 13px 15px;
    }
    .blogWrpr-tab__h {
        font-size: 0.9rem;
    }
    .blogWrpr-tab {
        padding: 12px 16px;
        margin-bottom: 10px;
    }
    .blogCol1Card__hdr {
        padding: 8px 11px;
        column-gap: 5px;
    }
    .blgpgwrprCol1CardNews {
        column-gap: 8px;
        margin-bottom: 10px;
    }
    .blogcard-col1 {
        width: 40%;
    }
    .blogcard-col2 {
        width: 60%;
    }
    .blogcard-col2Body_p {
        /* -webkit-line-clamp: 1; */
    }
    .blogcard-col2 {
        padding: 8px 8px;
    }
    .blogcardMini {
        column-gap: 2px;
    }
    .blogcardMini__img {
        width: 22px;
        height: 22px;
    }
    .blogcardMini2 {
        column-gap: 2px;
    }
    .blogcardMini2Box {
        width: 21px;
        height: 21px;
        font-size: 0.6rem;
    }
    .blogcard-col2Body_h {
        font-size: 0.8rem;
        margin-bottom: 3px;
    }
    .blogcard-col2Body_p {
        font-size: 0.7rem;
    }
    .blogcard-col2-row2link,
    .blogcard-col2-row2-p,
    .blogcard-col2-row2-tag {
        font-size: 0.6rem;
    }
    .blogcard {
        height: 140px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .blogcard-col2Body {
        left: -23px;
    }
    .rtl .blogcard-col2Body {
        right: -23px;
    }
    .page {
        width: 26px;
        height: 26px;
        font-size: 0.7rem;
    }
    .blogcardMini__name,
    .blogcardMini2__p {
        font-size: 0.6rem;
    }
    .blogcard-col1-tag {
        left: 10px;
        padding: 5px 7px;
        font-size: 0.6rem;
        border-radius: 0 0 5px 5px;
    }
    .rtl .blogcard-col1-tag{
        left: auto;
        right: 10px;
    }
}
.dark .blogWrpr::after{
    background-color: var(--dark-background-color3);
}
.dark .blogCol1Card__hdr,
.dark .blogcard-col2Body,
.dark .blogcard-col2,
.dark .blogcard,
.dark .blogWrpr-tab{
    background-color: var(--dark-background-color4);
}
.dark .blgpgwrprCol1CardNews-row-p,
.dark .blgpgwrprCol1CardNews_t,
.dark .blogCol1Card__hdr-h,
.dark .blogcardMini2Box,
.dark .blogcardMini2__p,
.dark .blogcard-col2-row2link,
.dark .blogcard-col2-row2-p,
.dark .blogcard-col2Body_h,
.dark .blogcardMini__name{
    color: var(--white);
}

.dark .blogcardMini2Box{
    background-color: var(--dark-background-color3);
}
.dark .blgpgwrprCol1CardNews_t2, 
.dark .blogCol1Card__mini{
    background-color: var(--dark-background-color1);
    color: var(--white);
}
.dark .blogCol1Card__body{
    background-color: var(--dark-background-color8);
}
.dark .blogCol1Card__body2{
    border-color: transparent;
}
.dark .tagLink{
    background-color: var(--dark-background-color3);
    color: var(--white);
}
.dark .blgpgwrprCol1CardNews_t2:hover,
.dark .tagLink:hover{
    background-color: transparent;
}
.dark .blogCol1Card__hdr3 {
    background-color: var(--cyan-blue);
}
.dark .blogCol1Card__mini3 {
    position: relative;
    z-index: 0;
    background-color: transparent;
    color: var(--white);
}
.dark .page{
    background-color: var(--dark-background-color8);
}
.dark .page.active,
.dark .page:hover{
    background-color: var(--main);
    color: var(--white);
}