.prjpag{
    position: relative;
    z-index: 0;
    background: url(../../images/projects-bg.png) no-repeat bottom center;
    background-size: cover;
    padding-bottom: 40px;
    margin-bottom: 30px;
}
.prjpagWrpr{
    position: relative;
    z-index: 0;
    border-radius: 40px;
    padding: 40px 60px;
    overflow: hidden;
}
.prjpagWrpr::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0.9;
    z-index: -1;
    background-color: var(--white);
}
.prjpagbox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1%;
    margin-bottom: 50px;
}
.prjpagbox__col1{
    width: 24%;
}
.prjpagbox__col2{
    width: 32%;
}
.prjpagbox__col3{
    width: 24%;
}
.prjpagbox__col1-inner1{
    height: 230px;
    margin-bottom: 10px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.prjpagbox__col2-inner1{
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
    height: 390px;
    position: relative;
    z-index: 0;
}
.prjpagbox__col2-inner2{
    border-radius: 15px;
    overflow: hidden;
    height: 390px;
    position: relative;
    z-index: 0;
}
.prjpagbox__col1img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}
.prjpagbox__col1-inner2{
    height: 420px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.prjpagbox__col2-inner1:hover .prjpagbox__col1img,
.prjpagbox__col2-inner2:hover .prjpagbox__col1img,
.prjpagbox__col1-inner2:hover .prjpagbox__col1img,
.prjpagbox__col1-inner1:hover .prjpagbox__col1img{
    transform: scale(1.3);
    transition: all 0.3s ease-in-out;
}
.prjpagboxTab{
    padding: 7px 18px 7px 7px;
    position: absolute;
    z-index: 9;
    border-radius: 70px;
    overflow: hidden;
    bottom: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.prjpagboxTab::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    opacity: 0.22;
}
.prjpagboxTab-mini{
    width: 35px;
    height: 35px;
    background-color: rgba(254,254,254,0.48);
    color: var(--white);
}
.prjpagboxTab-p{
    color: var(--white);
    font-size: 1rem;
}
.prjpagList{
    width: 100%;
    background-color: rgb(240, 240, 240,0.5);
    border-radius: 50px;
    margin-bottom: 35px;
    flex-wrap: wrap;
    row-gap: 15px;
}
.prjpagList__link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    border-radius: 50px;
    font-size: 1.1rem;
    color: var(--charcoal-grey);
    column-gap: 10px;
    width: max-content;
    background-color: transparent;
}
.prjpagList__link.active{
    background-color: var(--main);
    color: var(--white);
}
.prjpagList{
    display: flex;
    align-items: center;
}
.prjpagCard{
    height: 390px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.prjpagCard::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0.47;
    z-index: 1;
}
.prjpagCard__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}
.prjpagCard:hover .prjpagCard__img{
    transform: scale(1.4);
    transition: all 0.5s ease-in-out;
}
.prjpagCard__content{
    position: absolute;
    padding: 25px 25px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
}
.prjpagCard__h{
    font-size: 1.1rem;
    color: var(--white);
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
}
.prjpagCard__h:hover{
    color: var(--main);
}
.prjpagCardminibox{
    width: 35px;
    height: 35px;
    position: relative;
    z-index: 0;
    background-color: rgba(254,254,254,0.2);
    color: var(--white);
}
.prjpagCardmini__h{
    font-size: 1.1rem;
    color: var(--white);
    display: flex;
    align-items: flex-end;
    column-gap: 5px;
}
.prjpagCardmini{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.prjpagCardmini__h span{
    font-size: 1rem;
}
.prjpagCard-wrpr{
    display: flex;
    align-items: center;
    column-gap: 35px;
}
.prjpagCard-wrpr2{
    display: flex;
    align-items: center;
    margin-top: auto;
    justify-content: space-between;
}
.prjpagCard__linkmini{
    width: 40px;
    height: 40px;
    color: var(--white);
    position: relative;
    z-index: 0;
    font-size: 0.9rem;
}
.prjpagCard__linkmini::after{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: -1;
    left: 0;
    background-color: var(--main);
    opacity: 0.72;
    border-radius: 50%;
}
.prjpagCard__link{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.prjpagCard__link:hover .prjpagCard__linkmini::after{
    background-color: var(--white);
}
.prjpagCard-outr{
    row-gap: 20px;
}

.prjpag-tab-content{
    margin-bottom: 15px;
}
.prjpag__link{
    margin: 0 auto;
    width: fit-content;
    padding: 12px 35px;
    font-size: 1.2rem;
    color: var(--contrast);
    position: relative;
    border-radius: 60px;
    z-index: 0;
}
.prjpag__link::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background-color: var(--white);
    opacity: 0.4;
    z-index: -1;
}
.prjpag__link:hover::after{
    background-color: var(--main);
}
.prjpag__link:hover{
    color: var(--white);
}
@media(max-width:1599px){
    .prjpagList__link {
        padding: 14px 35px;
        font-size: 1.1rem;
        column-gap: 10px;
    }
    .prjpagCard {
        height: 350px;
    }
    .prjpagCard__content {
        padding: 25px 25px;
    }
    .prjpagCard__h {
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    .prjpagCardmini__h {
        font-size: 1.1rem;
    }
    .prjpagCard__linkmini {
        width: 40px;
        height: 40px;
        font-size: 0.9rem;
    }
    .prjpag {
        padding: 40px 0 40px 0;
    }
    .prjpagbox__col3,
    .prjpagbox__col1 {
        width: 27%;
    }
    .prjpagbox__col2 {
        width: 37%;
    }
    .prjpag{
        padding-bottom: 30px;
    }
}
@media(max-width:1399px){
    .prjpagCard {
        height: 330px;
    }
    .prjpagCardmini__h {
        font-size: 0.9rem;
    }
    .prjpagCardmini__h span {
        font-size: 0.7rem;
    }
    .prjpagCardmini {
        column-gap: 3px;
    }
    .prjpagCardminibox {
        width: 30px;
        height: 30px;
        font-size: 0.7rem;
    }
    .prjpagCard__linkmini {
        width: 35px;
        height: 35px;
        font-size: 0.9rem;
    }
    .prjpagbox__col3, .prjpagbox__col1 {
        width: 29%;
    }
    .prjpagbox__col2 {
        width: 39%;
    }
    .prjpagbox__col1-inner1 {
        height: 210px;
    }
    .prjpagbox__col1-inner2 {
        height: 380px;
    }
    .prjpagbox__col2-inner2,
    .prjpagbox__col2-inner1 {
        height: 350px;
    }
    .prjpagbox{
        margin-bottom: 30px;
    }
    .prjpagList{
        margin-bottom: 20px;
    }
    .prjpagCard {
        height: 300px;
    }
    .prjpagWrpr {
        padding: 30px 40px;
    }
    .prjpagList__link {
        padding: 12px 25px;
        font-size: 1rem;
    }
    .prjpagCard__content {
        padding: 17px 17px;
    }
    .prjpagCard__h {
        font-size: 1rem;
    }
    .prjpagboxTab {
        padding: 6px 12px 6px 6px;
        bottom: 10px;
        left: 10px;
        column-gap: 5px;
    }
    .prjpagboxTab-mini {
        width: 30px;
        height: 30px;
        font-size: 0.8rem;
    }
}
@media(max-width:1199px){
    .prjpag {
        padding: 30px 0 30px 0;
    }
    .prjpagCard {
        height: 290px;
    }
    .prjpagCard__content {
        padding: 15px 15px;
    }
    .prjpag__link {
        padding: 10px 30px;
        font-size: 0.9rem;
    }
    .prjpagList__link {
        padding: 14px 25px;
        font-size: 1rem;
        column-gap: 7px;
    }
    .prjpagCard {
        height: 260px;
        border-radius: 10px;
    }
    .prjpagList__link {
        padding: 9px 25px;
        font-size: 0.9rem;
        column-gap: 7px;
    }
    .prjpagboxTab-p {
        font-size: 0.8rem;
    }
    .prjpag{
        padding-bottom: 20px;
    }
}
@media(max-width:1023px){
    .prjpagList {
        margin-bottom: 25px;
    }
    .prjpagList__link {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
    .prjpagbox__col1-inner1 {
        height: 150px;
        border-radius: 10px;
    }
    .prjpagbox__col1-inner2 {
        height: 270px;
        border-radius: 10px;
    }
    .prjpagWrpr {
        padding: 20px 20px;
    }
    .prjpagboxTab-p {
        font-size: 0.7rem;
    }
    .prjpagbox__col2-inner2, .prjpagbox__col2-inner1 {
        height: 250px;
    }
}
@media(max-width:767px){
    .prjpagList{
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .prjpagList::-webkit-scrollbar{
        display: none;
    }
    .prjpagList__link {
        padding: 6px 12px;
        font-size: 0.7rem;
    }
    .prjpagCard__h {
        font-size: 0.9rem;
        margin-bottom: 10px;
    }
    .prjpagboxTab{
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        flex-wrap: wrap;
    }
    .prjpagboxTab-mini {
        width: 25px;
        height: 25px;
        font-size: 0.6rem;
    }
    .prjpagbox__col1-inner1 {
        height: 125px;
    }
    .prjpagbox__col1-inner2 {
        height: 220px;
    }
    .prjpagbox__col2-inner2, .prjpagbox__col2-inner1 {
        height: 200px;
        border-radius: 10px;
    }
    .prjpagList{
        flex-wrap: nowrap;
        overflow: scroll;
    }
    .prjpagList::-webkit-scrollbar{
        display: none;
    }
}
@media(max-width:539px){
    .prjpagList{
        flex-wrap: nowrap;
        overflow: scroll;
    }
    .prjpagList::-webkit-scrollbar{
        display: none;
    }
    .prjpagWrpr{
        border-radius: 20px;
        padding: 14px 9px;
    }
    .prjpagbox{
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .prjpagbox__col3, .prjpagbox__col1 {
        width: 100%;
    }
    .prjpagbox__col2{
        width: 100%;
    }
    .prjpag{
        margin-bottom: 20px;
    }
}

.dark .prjpagWrpr::after{
    background-color: var(--dark-background-color3);
}
.dark .prjpagList{
    background-color: var(--dark-background-color4);
}
.dark .prjpagList__link{
    color: var(--white);
}
.dark .prjpagboxTab{
    background-color: rgba(0,0,0,0.5);
}
.dark .prjpagboxTab-mini{
    background-color: rgba(0,0,0,0.2);
}
.dark .prjpagCardminibox {
    background-color: rgba(0,0,0,0.4);
}
.rtl .prjpagboxTab{
    left: auto;
    right: 10px;
}