
.aboutpg{
    padding: 80px 0 80px 0;
}
.aboutPage-wrpr{
    position: relative;
}
.aboutPagecntnt{
    border-radius: 50px 50px 0 0;
    padding: 50px 100px 0 100px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 100%);
}
.aboutPagecntnt-wrpr{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.aboutPageB1{
    width: 45%;
}
.aboutPageB1__mini-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.aboutPageB1__mini{
    width: 357px;
    height: 370px;
    position: relative;
    z-index: 0;
    margin: 0 auto;
}
.aboutPageB1__mini::before{
    content: "";
    width: 95px;
    height: 82px;
    position: absolute;
    top: -27px;
    right: -28px;
    background-color: var(--main);
    z-index: -1;
}
.aboutPageB1__mini::after{
    content: "";
    width: 95px;
    height: 136px;
    position: absolute;
    bottom: -27px;
    left: -28px;
    background-color: var(--main);
    z-index: -1;
}
.aboutPageB1ab{
    width: 32px;
    height: 28px;
    position: absolute;
    top: -9px;
    left: -9px;
    background-color: var(--main);
    z-index: -1;
}
.aboutPageB1__content{
    padding: 12px 12px;
    background-color: var(--white);
    position: absolute;
    width: 200px;
    z-index: 9;
    right: -75px;
    bottom: 30px;
    box-shadow: 0 3px 20px 0 rgba(0,0,0,0.03);
}
.aboutPageB1__content-p{
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--third-color);
    line-height: 1.9;
    padding-bottom: 14px;
    margin-bottom: 12px;
    border-bottom: 1px solid var(--light-grey);
}
.aboutPageB1__content-h{
    font-size: 0.85rem;
    font-weight: bold;
}
.badgebcx i{
    color: var(--second-color);
}
.badgebcx{
    margin-bottom: 7px;
}
.badgebcx__p{
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--main);
}
.aboutPageB2{
    width: 50%;
}
.aboutPageB2__h{
    font-size: 1.3rem;
    color: var(--second-color);
    font-weight: bold;
    margin-bottom: 20px;
}
.aboutPageB2__p{
    font-size: 1.1rem;
    color: var(--third-color);
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 2.5;
    margin-bottom: 70px;
}
.aboutPageB2-tab{
    width: 175px;
    border: 1px solid var(--main);
    height: 50px;
    border-radius: 50px;
    background-color: var(--white);
    color: var(--main);
    position: relative;
    z-index: 0;
}
.aboutPageB2-tab:hover{
    background-color: transparent;
    color: var(--second-color);
    border-color: transparent;
}
.aboutPageB2-tab__h{
    font-size: 1rem;
    font-weight: 600;
}
.aboutPageB2-tab2{
    background-color: var(--second-color);
    color: var(--white);
}
.aboutPageBox2-wrpr{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.aboutPageBox2col1{
    width: 47%;
    padding: 24px;
    background-color: var(--white);
    border-radius: 20px;
    position: relative;
    z-index: 0;
}
.aboutPageBox2col1::before{
    content: "";
    width: 26px;
    height: 26px;
    background-color: var(--white);
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 10;    
}
.aboutPageBox2col1::after{
    content: "";
    width: 26px;
    height: 26px;
    background-color: var(--white);
    position: absolute;
    bottom: 24px;
    left: 24px;
    z-index: 9;    
}
.aboutPageBox2col1-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:11;
}
.aboutPageBox2col1-logo-img{
    width: 65%;
    height: 65%;
    object-fit: contain;
}
.aboutPageBox2col2{
    width: 47%;
}
.aboutPageBox2col1__img{
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 20px;
}
.aboutPageBox2col2__h{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--charcoal-grey);
    margin-bottom: 40px;
}
.abtPgBx2cl2Iner{
    position: relative;
    z-index: 0;
    padding: 30px 30px;
    border-radius: 20px;
}
.abtPgBx2cl2Iner::after{
    content: "";
    position: absolute;
    z-index: -1;
    background-color: var(--thirteen-color);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    opacity: 0.6;
}
.abtPgBx2cl2Iner-tab{
    padding: 12px 50px;
    position: relative;
    width: fit-content;
    border-radius: 60px;
    z-index: 0;
    font-size: 1.1rem;
    color: var(--white);
    font-weight: bold;
    margin-bottom: 20px;
}
.abtPgBx2cl2Iner-tab::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    top: 0;
    left: 0;
    border-radius: 60px;
    z-index: -1;
    opacity: 0.5;
}
.abtPgBx2cl2Iner__p{
    font-size: 1.1rem;
    line-height: 2;
    font-weight: bold;
    color: var(--white);
    margin-bottom: 45px;
}
.abtPgBx2cl2Iner-wrpr{
    column-gap: 15px;
    align-items: flex-start;
}
.abtPgBx2cl2Iner-wrpr-tab{
    position: relative;
    z-index: 0;
    padding: 13px 50px;
    width: fit-content;
    border-radius: 60px;
    column-gap: 20px;
    
}
.abtPgBx2cl2Iner-wrpr-tab::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3A4755;
    z-index: -1;
    opacity: 0.35;
    border-radius: 60px;
}
.abtPgBx2cl2Iner-wrpr-tab-h{
    font-weight: bold;
    color: var(--white);
}
.abtPgBx2cl2Iner-wrpr-tab-h{
    font-size: 2rem;
}
.abtbxmini{
    text-align: center;
}
.abtbxmini i{
    font-size: 1.1rem;
    color: var(--white);
}
.abtbxmini__p{
    font-size: 0.75rem;
    color: var(--white);
}
.aboutPageB2-tab2-ab{
    position: absolute;
    top: calc(-100% - 30px );
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background-color: var(--fivth-color);
    border-radius: 100px;
    padding: 9px 12px;
    column-gap: 10px;
    display: none;
}

.aboutPageB2-tab2-abbox{
    padding: 10px 20px;
    font-size: 1rem;
    color: var(--charcoal-grey);
    font-weight: 600;
    border-radius: 50px;
    width: max-content;
}
.aboutPageB2-tab2-abbox:hover{
    background-color: var(--white);
    color: var(--second-color);
}
.aboutPageB2-tab2-ab i{
    position: absolute;
    bottom: -17px;
    font-size: 30px;
    color: var(--fivth-color);
    left: 50%;
    transform: translateX(-50%);
}
.aboutPageB2-tab .aboutPageB2-tab__h{
    color: var(--main);
}
.aboutPageB2-tab2 .aboutPageB2-tab__h{
    color: var(--white);
}
.aboutPageB2-tab .aboutPageB2-tab__h:hover{
    color: var(--second-color);
}
.aboutPageB2-tab2:hover .aboutPageB2-tab2-ab{
    display: flex;
}
.aboutPageB2-tab2:hover .aboutPageB2-tab__h{
    color: var(--second-color);
}
.aboutPageB1-ab2{
    width: 175px;
    height: 45px;
    position: absolute;
    bottom: -60px;
    right: 0;
}
.aboutPageB1-ab2:hover .aboutPageB1-ab2-mini{
    transform: translateX(-20px) rotate(90deg);
    transition: all 0.3s ease-in-out;
    background-color: var(--main);
}
.aboutPageB1-ab2__img{
    width: 160px;
    height: 45px;
    object-fit: contain;
    z-index: 0;
    margin-left: auto;
}
.aboutPageB1-ab2-mini{
    width: 45px;
    height: 45px;
    background-color: #F8B8A7;
    position: absolute;
    left: 0;
    z-index:9;
    color: var(--white);
    font-size: 1.2rem;
    cursor: pointer;
    border: 2px solid var(--white);
    transition: all 0.3s ease-in-out;
}
.aboutPageB1-ab2-mini:hover{
    color: var(--white);
}
.aboutpg__img{
    width: 94%;
    height: 650px;
    object-fit: cover;
    border-radius: 20px;
}
.aboutPageB2-wrpr{
    column-gap: 20px;
}
.aboutpgWrpr2{
    display: flex;
    position: relative;
    z-index: 0;
}
.aboutpgWrpr2__h{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 6rem;
    transform: rotate(90deg);
    font-weight: bold;
    color: var(--grey);
    opacity: 0.1;
}
.abouttpg2{
    background: url(../../images/home-about-bg.png) no-repeat top center;
    background-size: cover;
    padding: 60px 0 80px 0;
}
.dark .abouttpg2{
    background: url(../../images/about-pag-bg-dark.png) no-repeat top center;
    background-size: cover;
}
.abouttpg2__h{
    font-size: 1.8rem;
    font-weight: bold;
    padding: 30px 0;
    position: relative;
    z-index: 0;
    margin-bottom: 20px;
}
.abouttpg2__img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    width: 450px;
    object-fit: cover;
    left: 0;
}
.aboutPageBox2col1-ab{
    position: absolute;
    top: 24px;
    left: 24px;
    width: calc(100% - 48px);
    height: calc(100% - 48px);
    background-color: rgba(0,0,0,0.3);
    border-radius: 20px;
    z-index: 9;
}
.aboutPageBox2col1__abimg{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}
@media(max-width:1799px){
    .aboutpg {
        padding: 60px 0 50px 0;
    }
    .aboutPagebanner {
        height: 370px;
        z-index: 0;
    }
    .aboutPagecntnt {
        padding: 40px 85px 0 85px;
    }
    .aboutPagehdngbox {
        margin: 0 auto 40px auto;
        padding: 20px 65px;
        font-size: 1.1rem;
    }
    .aboutPageB2__p {
        margin-bottom: 40px;
    }
    .aboutpg__img {
        height: 600px;
    }
    .aboutpg__img {
        width: 92%;
        height: 620px;
    }
    .abouttpg2__img {
        width: 370px;
    }
}
@media(max-width:1599px){
    .aboutPagebanner{
        height: 370px;
    }
    .aboutPagecntnt{
        padding: 35px 60px 0 60px;
        border-radius: 40px 40px 0 0;
    }
    .aboutPageB2__h {
        font-size: 1.1rem;
        margin-bottom: 15px;
    }
    .aboutPageB2__p {
        font-size: 1rem;
        margin-bottom: 40px;
    }
    .aboutPageB2-tab {
        width: 160px;
        height: 48px;
    }
    .aboutPageB2-tab2-abbox,
    .aboutPageB2-tab__h {
        font-size: 0.9rem;
    }
    .aboutPageB1__mini {
        width: 300px;
        height: 310px;
    }
    .aboutPageB1__mini::before {
        width: 75px;
        height: 70px;
        top: -20px;
        right: -20px;
    }
    .aboutPageB1__mini::after {
        width: 75px;
        height: 110px;
        bottom: -20px;
        left: -20px;
    }
    .aboutPageB1__content-p {
        font-size: 0.7rem;
    }
    .aboutPageB1__content-h {
        font-size: 0.7rem;
    }
    .badgebcx__p {
        font-size: 0.7rem;
        font-weight: 500;
    }
    .badgebcx__p {
        font-size: 0.6rem;
    }
    .aboutPageBox2col1 {
        width: 44%;
    }
    .aboutPageBox2col1__img {
        width: 100%;
        height: 480px;
    }
    .aboutPageBox2col2__h {
        font-size: 1.6rem;
        margin-bottom: 30px;
    }
    .abtPgBx2cl2Iner-tab {
        padding: 10px 45px;
        font-size: 0.9rem;
        margin-bottom: 15px;
    }
    .abtPgBx2cl2Iner__p {
        font-size: 0.9rem;
        margin-bottom: 35px;
    }
    .abtPgBx2cl2Iner-wrpr-tab {
        padding: 10px 35px;
        width: fit-content;
        border-radius: 60px;
        column-gap: 20px;
    }
    .abtPgBx2cl2Iner-wrpr-tab-h {
        font-size: 1.5rem;
    }
    .abtbxmini i {
        font-size: 0.9rem;
    }
    .abtbxmini__p {
        font-size: 0.65rem;
    }
    .aboutpg__img {
        height: 500px;
    }
    .aboutpgWrpr2__h {
        font-size: 5rem;
    }
    .abouttpg2__img {
        width: 340px;
    }
    .abouttpg2__h {
        padding: 16px 0;
        margin-bottom: 15px;
    }
    .abouttpg2 {
        padding: 40px 0 50px 0;
    }
}
@media(max-width:1399px){
    .aboutPagecntnt{
        padding: 30px 40px 0 40px;
        border-radius: 40px 40px 0 0;
    }
    .aboutPageCrd {
        height: 300px;
    }
    .aboutPageCrd__link {
        padding: 10px 30px;
        column-gap: 5px;
        width: 150px;
        bottom: -22px;
    }
    .aboutPageCrd__link i {
        font-size: 1rem;
    }
    .aboutPageCrd__link span{
        font-size: 0.9rem;
    }
    .aboutPagehdngbox {
        margin: 0 auto 30px auto;
        padding: 15px 55px;
        font-size: 1.1rem;
    }
    .aboutPageB1__content {
        padding: 12px 12px;
        width: 180px;
        right: -50px;
        box-shadow: 0 3px 20px 0 rgba(0,0,0,0.03);
    }
    .aboutPageBox2col1 {
        padding: 20px;
    }
    .aboutPageBox2col1__img {
        height: 400px;
    }
    .aboutPageBox2col1-ab {
        top: 20px;
        left: 20px;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
    }
    .abtPgBx2cl2Iner-wrpr-tab {
        padding: 8px 35px;
        column-gap: 10px;
    }
    .aboutPageBox2col2__h {
        font-size: 1.3rem;
        margin-bottom: 20px;
    }
    .aboutPagecntnt-wrpr {
        margin-bottom: 40px;
    }
    .aboutPageBox2col1::after {
        bottom: 20px;
        left: 20px;
    }
    .aboutPageBox2col1::before {
        top: 20px;
        right: 20px;
    }
    .abouttpg2__img {
        width: 256px;
    }
}
@media(max-width:1199px){
    .aboutPagebanner{
        height: 270px;
    }
    .aboutPagecntnt{
        padding: 25px 30px 0 30px;
        border-radius: 25px 25px 0 0;
    }
    .aboutPageBox2col1 {
        width: 48%;
    }
    .abtPgBx2cl2Iner-wrpr{
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .aboutPageB1__content {
        right: -28px;
    }
    .aboutPageB2__h {
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .aboutPageB2__p {
        font-size: 0.9rem;
        margin-bottom: 30px;
    }
    .aboutPageB2-tab {
        width: 130px;
        height: 45px;
    }
    .aboutPageB2-tab2-abbox, .aboutPageB2-tab__h {
        font-size: 0.7rem;
    }
    .abtPgBx2cl2Iner {
        padding: 20px 20px;
    }
    .abtPgBx2cl2Iner-tab {
        padding: 8px 40px;
        font-size: 0.8rem;
        margin-bottom: 10px;
    }
    .abtPgBx2cl2Iner__p {
        font-size: 0.8rem;
        margin-bottom: 30px;
    }
    .abtbxmini__p{
        line-height: 1;
    }
    .abtPgBx2cl2Iner-wrpr-tab {
        padding: 5px 20px;
        column-gap: 8px;
    }
    .aboutpg__img {
        width: 92%;
        height: 430px;
        border-radius: 15px;
    }
    .aboutpgWrpr2__h {
        font-size: 4.2rem;
    }
}
@media(max-width:1023px){
    .aboutPagehdngbox {
        margin: 0 auto 40px auto;
        padding: 13px 45px;
        font-size: 0.9rem;
    }
    .aboutPagecntnt-wrpr{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .aboutPageB1{
        width: 100%;
        margin-bottom: 40px;
    }
    .aboutPageB2{
        width: 100%;
    }
    .aboutPageBox2col1__img {
        height: 300px;
    }
    .abtPgBx2cl2Iner__p {
        font-size: 0.7rem;
        margin-bottom: 18px;
    }
    .abtPgBx2cl2Iner-tab {
        padding: 8px 26px;
        font-size: 0.7rem;
        margin-bottom: 5px;
    }
    .abtPgBx2cl2Iner-wrpr-tab {
        padding: 7px 27px;
        column-gap: 7px;
    }
    .abtPgBx2cl2Iner-wrpr-tab-h {
        font-size: 1.1rem;
    }
    .abtbxmini i {
        font-size: 0.7rem;
    }
    .abtbxmini__p {
        font-size: 0.55rem;
    }
    .abtPgBx2cl2Iner-wrpr-tab {
        padding: 4px 20px;
        column-gap: 5px;
    }
    .abtPgBx2cl2Iner-wrpr {
        column-gap: 5px;
    }
    .aboutPageB2-wrpr{
        justify-content: center;
    }
    .aboutpg__img {
        width: 92%;
        height: 355px;
        border-radius: 15px;
    }
    .aboutpgWrpr2__h {
        font-size: 3.5rem;
        line-height: 1;
    }
    .aboutpg {
        padding: 45px 0 35px 0;
    }
    .aboutPagecntnt-wrpr {
        margin-bottom: 20px;
    }
    .abouttpg2 {
        padding: 25px 0 30px 0;
    }
    .aboutPageBox2col1-logo {
        width: 95px;
        height: 95px;
    }
    .aboutPageBox2col1-logo-img {
        width: 70%;
        height: 70%;
    }
}
@media(max-width:767px){
    .aboutPagebanner{
        height: 200px;
    }
    .aboutPageBox2-wrpr{
        flex-wrap: wrap;
    }
    .aboutPageBox2col1{
        width: 100%;
        margin-bottom: 25px;
    }
    .aboutPageBox2col2{
        width: 100%;
    }
    .aboutpg__img {
        width: 90%;
        height: 250px;
        border-radius: 15px;
    }
    .aboutpgWrpr2__h {
        font-size: 2.5rem;
        line-height: 1;
    }
    .aboutPageB2__p {
        font-size: 0.9rem;
        margin-bottom: 14px;
    }
    .aboutPagecntnt-wrpr {
        margin-bottom: 20px;
    }
    .aboutPageB2-wrpr {
        column-gap: 10px;
    }
    .aboutpg {
        padding: 40px 0 30px 0;
    }
    .aboutPageBox2-wrpr{
        row-gap: 20px;
    }
    .abouttpg2 {
        padding: 18px 0 15px 0;
    }
}
@media(max-width:539px){
    .aboutPageB1__mini{
        width: 100%;
        height: 260px;
    }
    .aboutPageB1__mini::after {
        width: 70px;
        height: 95px;
        bottom: -14px;
        left: -10px;
    }
    .aboutPageB1__mini::before {
        width: 55px;
        height: 50px;
        top: -14px;
        right: -10px;
    }
    .aboutPageB1__content-p {
        font-size: 0.6rem;
    }
    .aboutPageB1__content {
        padding: 12px 12px;
        width: 150px;
    }
    .aboutPageB1__content {
        right: -5px;
    }
    .aboutPageB1__content-h {
        font-size: 0.6rem;
    }
    .aboutPageB2__h {
        font-size: 0.85rem;
        margin-bottom: 5px;
    }
    .aboutPageB2__p {
        font-size: 0.7rem;
        margin-bottom: 20px;
    }
   .aboutPageB2-tab__h {
        font-size: 0.6rem;
    }
    .aboutPageB2-tab {
        width: 95px;
        height: 36px;
    }
    .aboutPagecntnt {
        padding: 25px 20px 0 20px;
    }
    .aboutPageBox2col2__h {
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .aboutPageBox2col1__img {
        height: 240px;
        border-radius: 10px;
    }
    .aboutpgWrpr2__h {
        font-size: 1.8rem;
    }
    .aboutpg__img {
        width: 90%;
        height: 185px;
        border-radius: 15px;
    }
    .aboutPageB1-ab2__img {
        width: 124px;
        height: 38px;
    }
    .aboutPageB1-ab2-mini {
        width: 40px;
        height: 40px;
        font-size: 0.9rem;
    }
    .aboutPageB1-ab2 {
        width: 145px;
        height: 40px;
        bottom: -45px;
    }
    .aboutPageB2-tab2-abbox {
        padding: 9px 6px;
    }
    .aboutPageB2-tab2-ab {
        column-gap: 5px;
        padding: 8px 8px;

    }
    .aboutPageB1__content-p {
        padding-bottom: 7px;
        margin-bottom: 8px;
    }
    .abouttpg2__img {
        width: 200px;
    }
    .abouttpg2__h {
        padding: 8px 0;
        margin-bottom: 10px;
    }
    .aboutPageBox2col1-ab{
        border-radius: 10px;
    }
    .aboutPageBox2col1 {
        padding: 10px;
        border-radius: 10px;
    }
    .aboutPageBox2col1-ab {
        top: 10px;
        left: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
    }
    .aboutPageBox2col1::after {
        bottom: 10px;
        left: 10px;
        width: 20px;
        height: 20px;
    }
    .aboutPageBox2col1::before {
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
    }
}
.rtl .abouttpg2__img{
    left: auto;
    right: 0;
}
.rtl .aboutpgWrpr2__h {
    right: auto;
    left: 0;
    transform: rotate(-90deg);
}



.dark .abtPgBx2cl2Iner-tab::after {
    background-color: var(--black);
    opacity: 0.3;
}
.dark .aboutPagecntnt{
    background-color: var(--dark-background-color1);
}
.dark .aboutPagecntnt{
    background-color: var(--dark-background-color1);
    background: linear-gradient(180deg, var(--dark-background-color1) 0%, var(--dark-background-color1) 85%, var(--dark-background-color1) 60%);
}
.dark .aboutPagehdngbox{
    background-color: var(--dark-background-color2);
    color: var(--white);
}
.dark .abouttpg2__h,
.dark .aboutPageBox2col2__h,
.dark .aboutPageB2-tab2-abbox,
.dark .badgebcx__p,
.dark .aboutPageB1__content-h,
.dark .aboutPageB1__content-p,
.dark .aboutPageB2__p,
.dark .aboutPageB2__h{
    color: var(--white);
}
.dark .aboutPageB2-tab,
.dark .aboutPageB1__content{
    background-color: var(--dark-background-color2);
}
.dark .aboutPageB2-tab,
.dark .aboutPageB1__content-p{
    border-color: var(--dark-border-color);
}
.dark .aboutPageB2-tab{
    border: none;
}
.dark .aboutPageBox2col1::before,
.dark .aboutPageBox2col1::after,
.dark .aboutPageBox2col1,
.dark .aboutPageB2-tab2-ab{
    background-color: var(--dark-background-color3);
}
.dark .aboutPageB2-tab2-ab i{
    color: var(--dark-background-color2);
}
.dark .aboutPageB2-tab2-abbox{
    background-color: transparent;
}
.dark .abouttpg2__img{
    filter: brightness(0) invert(1);
}

.dark .aboutPageB1-ab2-mini{
    background-color: var(--dark-background-color2);
    border-color: var(--dark-background-color2);
}