
.blogpagecntnt-wrpr {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
}
.blogpagecntnt-box {
    width: 49%;
    height: 245px;
    border-radius: 20px;
    display: flex;
    background-color: var(--white);
    overflow: hidden;
}
.blogpagecntnt-box__hldr {
    width: 43%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    position: relative;
    z-index: 0;
}
.blogpagecntnt-box__img {
    border-radius: 20px 0 0 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blogpagecntnt-box-ab {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px 15px;
    border-radius: 0 0 0 20px;
    z-index: 9;
}
.blogpagecntnt-box-ab__img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.blogpagecntnt-box-ab__h {
    font-size: 1rem;
    color: var(--white);
    font-weight: bold;
}
.blogpagecntnt-box-ab::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 0 0 0 20px;
    background-color: var(--contrast);
    opacity: 0.3;
}
.blogpagecntnt-box-body{
    width: 57%;
    position: relative;
    z-index: 0;
    padding: 15px 22px;
    display: flex;
    flex-direction: column;
}
.blogpagecntnt-box-body-desc {
    font-size: 1.1rem;
    color: var(--grey-2);
    font-weight: 600;
    line-height: 1.8;
    position: relative;
    z-index: 9;
    margin-bottom: 15px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.blogpagecntnt-box-body__link{
    font-size: 1.2rem;
    color: var(--main);
    font-weight: 600;
    margin-top: auto;
    margin-bottom: 15px;
}
.blogpagecntnt-box-body-wrpr{
    position: relative;
    z-index: 9;
}
.blbbwcol__mini{
    width: 35px;
    height: 35px;
    position: relative;
    z-index: 0;
    font-size: 0.9rem;
    color: var(--grey-2);
}
.blbbwcol__mini::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--contrast);
    z-index: -1;
    opacity: 0.05;
    border-radius: 50%;
}
.blbbwcol__p{
    font-size: 1rem;
    color: var(--grey-2);
}
.blbbwcol{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.blcabtab{
    position: relative;
    z-index: 0;
    padding: 11px 18px;
    border-radius: 60px;
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--white);
    border-radius: 60px;
}
.blcabtab::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    opacity: 0.3;
    border-radius: 60px;
    z-index: -1;
}


.rtl .blogpagecntnt-box__img{
    border-radius: 0 20px 20px 0;
}
.rtl .blogpagecntnt-box-ab::after,
.rtl .blogpagecntnt-box-ab{
    border-radius: 0 0 20px 0;
}
@media(max-width:1599px){
    .blogpagecntnt-box-body {
        padding: 12px 15px;
    }
    .blogpagecntnt-box-body-desc {
        font-size: 1rem;
        line-height: 1.6;
        margin-bottom: 10px;
    }
    .blogpagecntnt-box-body__link {
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .blbbwcol__p {
        font-size: 0.9rem;
    }
    .blbbwcol__mini {
        width: 30px;
        height: 30px;
        font-size: 0.8rem;
    }
    .blogpagecntnt-box-ab__h {
        font-size: 0.9rem;
    }
    .blogpagecntnt-box-ab__img {
        width: 35px;
        height: 35px;
    }
    .blcabtab {
        padding: 9px 14px;
        font-size: 0.7rem;
    }
}
@media(max-width:1399px){
    .blogpagecntnt-box {
        height: 210px;
    }
    .blogpagecntnt-box-ab {
        padding: 7px 10px;
    }
    .blcabtab {
        padding: 7px 12px;
        font-size: 0.6rem;
    }
    .blogpagecntnt-box-ab__img {
        width: 30px;
        height: 30px;
    }
    .blogpagecntnt-box-ab__h {
        font-size: 0.8rem;
    }
}
@media(max-width:1199px){
    .blogpagecntnt-box-body-desc {
        font-size: 0.9rem;
    }
    .blogpagecntnt-box-body__link {
        font-size: 0.9rem;
    }
    .blbbwcol__p {
        font-size: 0.7rem;
    }
    .blbbwcol__mini {
        width: 25px;
        height: 25px;
        font-size: 0.7rem;
    }
    .blogpagecntnt-box {
        height: 185px;
    }
}
@media(max-width:1023px){
    .blogpagecntnt-wrpr{
        flex-wrap: wrap;
        row-gap: 15px;
        margin-bottom: 30px;
    }
    .blogpagecntnt-box {
        width: 100%;
        height: 185px;
    }
}
@media(max-width:539px){
    .blogpagecntnt-box{
        flex-wrap: wrap;
        height: auto;
    }
    .blogpagecntnt-box-body,
    .blogpagecntnt-box__hldr{
        width: 100%;
    }
    .blogpagecntnt-box__hldr{
        height: 180px;
        border-radius: 10px 10px 0 0;
    } 
    .blogpagecntnt-box__img{
        border-radius: 10px 10px 0 0;
    }
    .rtl .blogpagecntnt-box__img{
        border-radius: 10px 10px 0 0;
    }
    .blogpagecntnt-box-ab::after{
        border-radius: 0;
    }
    .rtl .blogpagecntnt-box-ab::after{
        border-radius: 0;
    }
}


.dark .blogpagecntnt-box{
    background-color: var(----dark-background-color4);
}
.dark .blogpagecntnt-box-body-desc{
    color: var(--white);
}
.dark .blbbwcol__p,
.dark .blbbwcol__mini,
.dark .blogpagecntnt-box-body__link:hover{
    color: var(--white);
}
.dark .blbbwcol__mini::after{
    background-color: var(--white);
}
.dark .blogpagecntnt-box-ab::after {
    opacity: 0.4;
}