
.hmServics{
    padding: 30px 0 100px 0;
    position: relative;
    z-index: 0;
}
.hmServics__svg{
    width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    bottom: -40px;
    left: 0;
}
.hmServics__svg path{
    fill: var(--fivth-color);
}
.hmServics__h{
    font-size: 1.7rem;
    color: var(--black);
    font-weight: bold;
    padding: 30px 0;
    position: relative;
    z-index: 0;
    margin-bottom: 30px;
}
.hmServics__img{
    position: absolute;
    height: 100%;
    width: 420px;
    object-fit: contain;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
}
.hmServicsSl{
    padding: 50px 0;
    margin-bottom: 30px;
}
.hmServicsCrd{
    height: 400px;
    margin: 0 auto;
    border-radius: 35px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.swiper-slide-active .hmServicsCrd{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
.hmServicsCrd:hover .hmServicsCrd__img{
    transform: scale(1.3);
    transition: all 0.5s ease-in-out;
}
.hmServicsCrd::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0.47;
    display: none;
    z-index: 1;
}
.hmServicsCrd:hover::after{
    display: block;
}
.hmServicsCrd__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}
.hmServicsCrd-tab{
    position: absolute;
    z-index: 2;
    background-color: rgba(29, 39, 48, 0.81);
    bottom: 25px;
    color: var(--white);
    font-weight: bold;
    padding: 18px 40px;
    line-height: 1;
    border-radius: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    width: max-content;
}
.hmServicsCrd__mini{
    background-color: rgba(254,254,254,0.16);
    width: 50px;
    height: 50px;
    color: var(--white);
}
.hmServicsCrd__link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 1rem;
    color: var(--white);
    display: none;
}
.hmServicsCrd:hover .hmServicsCrd__link{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hmServics__link{
    position: relative;
    z-index: 9;
    margin: 0 auto;
    line-height: 1;
    padding: 16px 50px;
    margin: 0 auto;
    width: fit-content;
    color: var(--white);
    font-size: 1.1rem;
}
.hmServics__link:hover{
    color: var(--main);
}
.hmServics__link::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--main);
    border-radius: 40px;
}
.hmServics__link:hover::after{
    background-color: transparent;
}
@media(max-width:1799px){
    .hmServics__h {
        font-size: 1.5rem;
        padding: 20px 0;
        margin-bottom: 20px;
    }
    .hmServics__img {
        width: 350px;
    }
    .hmServicsCrd {
        height: 360px;
        border-radius: 30px;
    }
    .hmServicsSl {
        padding: 40px 0;
        margin-bottom: 30px;
    }
    .hmServics {
        padding: 25px 0 100px 0;
    }
    .hmServicsCrd-tab {
        padding: 16px 30px;
        font-size: 0.9rem;
        bottom: 15px;
    }
}
@media(max-width:1599px){
    .hmServics__link {
        padding: 13px 40px;
        font-size: 1rem;
    }
}
@media(max-width:1399px){
    .hmServicsCrd {
        height: 300px;
        border-radius: 20px;
    }
    .hmServics__img {
        width: 270px;
    }
    .hmServics__h {
        font-size: 1.4rem;
        padding: 20px 0;
        margin-bottom: 20px;
    }
}
@media(max-width:1199px){
    .hmServicsCrd {
        height: 270px;
    }
    .hmServics {
        padding: 15px 0 80px 0;
    }
    .hmServicsSl {
        margin-bottom: 27px;
    }
    .hmServicsCrd-tab {
        padding: 12px 20px;
        font-size: 0.85rem;
    }
    .hmServics__img {
        width: 300px;
    }
    .hmServicsSl {
        padding: 30px 0;
        margin-bottom: 15px;
    }
}
@media(max-width:767px){
    .hmServicsCrd {
        height: 220px;
    }
    .hmServics__img {
        width: 240px;
    }
    .hmServics__h {
        padding: 10px 0;
        margin-bottom: 11px;
    }
    .hmServics {
        padding: 15px 0 70px 0;
    }
    .hmServics__link {
        padding: 11px 32px;
        font-size: 0.85rem;
    }
    .hmServicsCrd-tab {
        padding: 10px 15px;
        font-size: 0.75rem;
        bottom: 10px;
    }
    .hmServicsCrd{
        border-radius: 10px;
    }
}
@media(max-width:539px){
    .swiper-slide-active .hmServicsCrd {
        transform: scale(1);
    }
    .hmServics {
        padding: 15px 0 20px 0;
    }
    .hmServicsSl {
        padding: 0px 0;
    }
    .hmServics__img {
        width: 230px;
    }
    .hmServics__h {
        font-size: 1.4rem;
        padding: 12px 0;
        margin-bottom: 10px;
    }
    .hmServics__link {
        padding: 11px 35px;
        font-size: 0.9rem;
    }
    .hmServicsSl {
        margin-bottom: 15px;
    }
}

.dark .hmServics__svg path{
    fill: var(--dark-background-color3);
}
.dark .hmServics__h{
    color: var(--white);
}
.dark .hmServics__img{
    filter: brightness(0) invert(1);
}