:root{
    --main: #EA4F25;
    --contrast: #1D2730;
    --second-color: #CD5B3B;
    --third-color: #141B22;
    --fourth-color: #CBE2F7;
    --fivth-color: #FFF0EB;
    --sixth-color: #CBE2F7;
    --eighth-color: #FFFBFA;
    --ninth-color: #F9C3B4;
    --tenth-color: #01C2D1;
    --eleventh-color: #F5987F;
    --dark-background-color1: #15212D;
    --dark-background-color2: #1A2A3B;
    --dark-para-color: #cfcfcf;
    --grey: #979292;
}
body{
    font-family: var(--cairo);
}